<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clasificación de Spam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Clasificación de Spam</h1>
        </header>
        <section class="classification-form">
            <h2>Clasificar Texto</h2>
            <form method="POST" action="{{ url_for('main.index') }}">
                {{ text_form.hidden_tag() }}
                <div class="form-group">
                    {{ text_form.text_input.label }}<br>
                    {{ text_form.text_input(size=40) }}
                </div>
                <div class="form-group">
                    {{ text_form.submit(class_='btn btn-primary') }}
                </div>
            </form>
        </section>
        <section class="classification-form">
            <h2>O subir un archivo de email (.eml)</h2>
            <form method="POST" action="{{ url_for('main.index') }}" enctype="multipart/form-data">
                {{ file_form.hidden_tag() }}
                <div class="form-group">
                    {{ file_form.file_input.label }}<br>
                    {{ file_form.file_input() }}
                </div>
                <div class="form-group">
                    {{ file_form.submit(class_='btn btn-primary') }}
                </div>
            </form>
        </section>
    </div>
</body>
</html>
